<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hoang Hon &mdash; Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Styles/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link href="~/Styles/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/style.css" rel="stylesheet" />
    <link href="~/Styles/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Styles/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Styles/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Styles/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Styles/css/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/Styles/css/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link href="~/Styles/css/aos.css" rel="stylesheet" />
    <link href="~/Styles/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/Styles/css/style.css" rel="stylesheet" />

</head>




<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="@Url.Action("Home","Home")">ROOM Co</a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">

                                        <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3">
                                            <a href="#"
                                               class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
                                        </div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="active">
                                                <a href="@Url.Action("Home","Home")">Trang chủ</a>
                                            </li>
                                            <li class="has-children">
                                                <a href="@Url.Action("ListRooms","Rooms")">Phòng</a>
                                                <ul class="dropdown arrow-top">
                                                    <li><a href="@Url.Action("ListRooms","Rooms")">Hiện có</a></li>
                                                    <li><a href="@Url.Action("ListRooms","Rooms")">Phòng đơn</a></li>
                                                    <li><a href="@Url.Action("ListRooms","Rooms")">Phòng đôi</a></li>
                                                    <li><a href="@Url.Action("ListRooms","Rooms")">Phòng gia đình</a></li>


                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("Events","Events")">Dịch vụ</a></li>
                                            <li><a href="@Url.Action("About","Home")">Thông tin</a></li>
                                            <li><a href="@Url.Action("FeedBack","FeedBack")">Liên hệ</a></li>


                                            <li class="has-children">
                                                <img src="https://i.pinimg.com/originals/13/32/ba/1332bae0e95e89393820f97f4a889535.jpg"
                                                     width="50dp" height="	50dp" alt="" style="border-radius: 100px; ;">
                                                <ul class="dropdown arrow-top">
                                                    <li><a href="#">tran tam</a></li>
                                                    <li id="Admin" style="display:none;"><a href=@Url.Action("EdipRoom","Admin")>Admin</a></li>
                                                    <li><a href=@Url.Action("History","History")>Lịch sử </a></li>
                                                    <li><a href=@Url.Action("Login","Login")>Đăng xuất</a></li>


                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slide-one-item home-slider owl-carousel">

            <div class="site-blocks-cover overlay" style="background-image: url(/Styles/images/hero_1.jpg);" data-aos="fade"
                 data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">

                            <h1 class="mb-2">Welcome To Suites</h1>
                            <h2 class="caption">Hotel &amp; Resort</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" style="background-image: url(/Styles/images/hero_2.jpg);" data-aos="fade"
                 data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Unique Experience</h1>
                            <h2 class="caption">Enjoy With Us</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-blocks-cover overlay" style="background-image: url(/Styles/images/hero_3.jpg)" data-aos="fade"
                 data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center" data-aos="fade">
                            <h1 class="mb-2">Relaxing Room</h1>
                            <h2 class="caption">Your Room, Your Stay</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @RenderBody()



        <footer class="site-footer">
            <div class="container">


                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-heading mb-4 text-white">About</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                        <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <div class="row">

                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Ministries</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Children</a></li>
                                    <li><a href="#">Women</a></li>
                                    <li><a href="#">Bible Study</a></li>
                                    <li><a href="#">Church</a></li>
                                    <li><a href="#">Missionaries</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4 text-white">Social Icons</h3>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                            <script data-cfasync="false"
                                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>document.write(new Date().getFullYear());</script>&nbsp We are number 2, no one is number 1
                            <i class="icon-heart text-primary" aria-hidden="true"></i>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="~/Styles/js/aos.js"></script>
    <script src="~/Styles/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Styles/js/bootstrap.min.js"></script>
    <script src="~/Styles/js/jquery-3.3.1.min.js"></script>
    <script src="~/Styles/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Styles/js/jquery-ui.js"></script>
    <script src="~/Styles/js/jquery.countdown.min.js"></script>
    <script src="~/Styles/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Styles/js/jquery.stellar.min.js"></script>
    <script src="~/Styles/js/login.js"></script>
    <script src="~/Styles/js/main.js"></script>
    <script src="~/Styles/js/mediaelement-and-player.min.js"></script>
    <script src="~/Styles/js/owl.carousel.min.js"></script>
    <script src="~/Styles/js/popper.min.js"></script>
    <script src="~/Styles/js/slick.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        function testbtn() {
            var token = localStorage.getItem("token");

            var fromDate = new Date($('#fromDate').val());
            var toDate = new Date($('#toDate').val());
            var idRoom = sessionStorage.getItem('key');
            $.ajax({
                url: 'https://localhost:44370/api/v1/room/' + idRoom,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (res) {

                },
                success: function (res) {
                    var id = "id" + Math.random().toString(16).slice(2);
                    var oneroom = {
                        id: id,
                        username: parseJwt(token).unique_name,
                        name: res.TenPhong,
                        price: res.LoaiPhongs[0].Gia,
                        ing: res.Anh,
                        date: Math.round((toDate - fromDate) / (1000 * 60 * 60 * 24)),
                        idSP: idRoom,
                        type: "1"
                    }
                    console.log(oneroom);
                    localStorage.setItem(id.toString(), JSON.stringify(oneroom));
                    alert("Đặt thành công vui lòng kiểm tra  lịch sử để thành toán !!!")


                },
                fail: function (response) { }

            });
        }

        function parseJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));

            return JSON.parse(jsonPayload);
        };

    </script>


    <script>
        $('#fromDate').change(function () {
            var fromDate = new Date($('#fromDate').val());
            var today = new Date();
            var dd = fromDate.getDate();
            var mm = fromDate.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
            var yyyy = fromDate.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;

            $('#toDate').attr('min', today);

        });

        $(document).ready(function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;

            $('#fromDate').attr('min', today);

            $('#fromDate').attr('value', today);
            $('#toDate').attr('value', today);

        });

        // hiện quyền admin
        var role = sessionStorage.getItem('role');
        if (role == "admin") {
            $("#Admin").css("display", "block");
        }
        else {
            $("#Admin").css("display", "none");
        }

        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>




</body>

</html>